{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
	<style>
		body {
			background: url('{% static "img/dark-lights-background.jpg" %}') no-repeat center center fixed;
			background-size: cover;
		}

		.nav-bar {
			padding-bottom: 1%;

			
		}

		.pagination {
			padding-top: 2%;
			color: white;
		}



		.story-title {
			color: white;

		}

		a:hover {
			color: white;
		}

		a {
			color: white;
		}

		h3 {
			font-size: 1.35em;
		}

		h5 {
			font-weight: 600;
			padding-left: 10%;
		}

		h6 {
			font-weight: 600;
			padding-right: 10%;
		}

		.test {
			padding-right: 40px;
		}


	</style>
{% endblock styles %}



{% block content %}

	<!-- <h1>{{title}}</h1> -->

	<div class="row nav-bar">
		<img src="{% static 'img/FullColor-TechChatLogo.png' %}" class="img-responsive center-block"/>

	</div>


	<div class="row">
	{% for obj in object_list %}
		<div class="col-sm-4 col-xs-12 story-image-title">
			<div class=""> 
				<h5 class="pull-left">{{ obj.timeToRead }}</h5><h6 class="pull-right">{{obj.publish}}</h6>
				<a href='{{ obj.get_absolute_url }}'><img src="{{ obj.image.url }}" class="img-responsive img-rounded center-block"/></a>
				
				<div class="story-title">
				<h3 class="text-center"><a class="story-title" href='{{ obj.get_absolute_url }}'> {{ obj.title }}</a> </h3> 
				<!-- <p>{{ obj.content|linebreaks|truncatechars:120 }}</p> -->
			</div>
		</div>
    	</div>
		
	<!-- {% cycle "" "</div><div class='row'>" %} -->
	{% endfor %}
	</div>
	<div class="text-center">
		<div class="pagination">
	    	<span class="step-links">
		        {% if object_list.has_previous %}
		            <a class="test" href="?{{ page_request_var }}={{ object_list.previous_page_number }}"> << </a>
		        {% endif %}

		        <!-- <span class="current">
		        	
		            {{ object_list.publish }}
		            
		        </span> -->
		    

		    
		        {% if object_list.has_next %}
		            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}"> >> </a>
		        {% endif %}
	    	</span>
		</div> 
	</div>


	<!-- <div class="pagination">
    	<span class="step-links">
	        {% if object_list.has_previous %}
	            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
	        </span>

	        {% if object_list.has_next %}
	            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}">next</a>
	        {% endif %}
    	</span>
	</div> -->


	

{% endblock content %}



