{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block styles %}
	<style>
		body {
			background: url('{% static "img/tc-background-real-4.jpg" %}') no-repeat center center fixed;
			background-size: cover;
		}

		.story-content {
			font-size: 18;
		}

		h1 {
			padding-top: 20px;
		}
	</style>
{% endblock styles %}


{% block content %}
<div class='col-md-6 col-md-offset-3'>
	<h1 class="text-center">{{ title }} </h1>
	<br>
	<br>
    
    <!-- {% if instance.image %}
    <img src='{{ instance.image.url }}' class='img-responsive center-block img-rounded' />
    {% endif %} -->

    <!-- {% if instance.video %}
    	{{ video }}
    {% else %}
    	<img src='{{ instance.image.url }}' class='img-responsive center-block img-rounded' />
    {% endif %} -->

    
    {% if instance.video %}
	    {{ instance.video|safe }}
	{% else %}
		<img src='{{ instance.image.url }}' class='img-responsive center-block img-rounded' />
    {% endif %} 


<div class='row'>
<div class='col-md-12 text-left'>

<hr/>

<div class="story-content">
	{{ instance.content|safe|linebreaks }}
</div>

<hr/>


<p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
</p>

<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>

</div>
</div>
</div>


{% endblock content %}