{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
	<style>
		body {
			background: url('{% static "img/coffee-background.jpg" %}') no-repeat center center fixed;
			background-size: cover;
		}

		.nav-bar {
			padding-bottom: 5%;
			
		}

		.pagination {
			padding-top: 20px;
		}

		.story-image-title {
			border-left: 2px solid white;
		}

		.story-title {
			color: white;
		}

		a:hover {
			color: white;
		}

		h5 {
			color: #888;
			font-weight: 400;
		}

	</style>
{% endblock styles %}



{% block content %}

	<!-- <h1>{{title}}</h1> -->

	<div class="row nav-bar">
		<img src="{% static 'img/FullColor-TechChatLogo.png' %}" class="img-responsive center-block"/>

	</div>


	<div class="row">
	{% for obj in object_list %}
		<div class="col-sm-4 col-xs-12 story-image-title">
			<div class=""> 
				{% if obj.image %}
				<a href='{{ obj.get_absolute_url }}'><img src="{{ obj.image.url }}" class="img-responsive img-rounded center-block"/></a>
				{% endif %}
				<div class="story-title">
				<h3 class="text-center"><a class="story-title" href='{{ obj.get_absolute_url }}'> {{ obj.title }}</a> </h3> <h5 class="text-center">{{ obj.timeToRead }}</h5>
				<!-- <p>{{ obj.content|linebreaks|truncatechars:120 }}</p> -->
			</div>
		</div>
    	</div>
		
	<!-- {% cycle "" "</div><div class='row'>" %} -->
	{% endfor %}

	<div class="text-center">
		<div class="pagination">
	    	<span class="step-links">
		        {% if object_list.has_previous %}
		            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}"> << </a>
		        {% endif %}

		        <span class="current">
		        	{% for obj in object_list %}
		            	{{ obj.publish }}
		            {% endfor %}
		        </span>

		        {% if object_list.has_next %}
		            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}"> >> </a>
		        {% endif %}
	    	</span>
		</div> 
	</div>


	<!-- <div class="pagination">
    	<span class="step-links">
	        {% if object_list.has_previous %}
	            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
	        </span>

	        {% if object_list.has_next %}
	            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}">next</a>
	        {% endif %}
    	</span>
	</div> -->


	</div>

{% endblock content %}

